:root {
    --primary: #8A2061;
    --black: #000;
    --white: #fff;
    --white-smoke: #f1f1f1;
    --gray-80: #ddd;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Regular.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Proxima Nova', sans-serif;
}

.watermark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.watermark-img {
    opacity: 0.1;
    width: 80%;
    height: auto;
}

.bold {
    font-weight: 900;
}

.h-60 {
    height: 80px;
}

.table-highlited {
    background-color: var(--white-smoke);
    color: var(--black);
    font-size: 18px;
    text-align: center !important;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.vaccine-card-border {
    margin: 5px;
    border: 2px solid var(--primary);
    z-index: -1;
}

.header-section {
    margin: 2px;
}

.header-img {
    width: 100%;
}

.vaccine-section {
    margin: 10px;
}

.user-img-container {
    display: flex;
    justify-content: flex-end;
}

.user-img {
    height: 140px;
    width: 120px;
}

.vaccine-table-container {
    width: 100%;
    margin: 20px auto;
}

.vaccine-table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid var(--gray-80);
}

.vaccine-table td {
    padding: 5px;
    border: 2px dashed var(--gray-80);
    width: 25%;
}

.table-highlited {
    border: 2px solid var(--gray-80) !important;

}

.table-header {
    color: var(--black);
    font-size: 22px;
    text-align: center;
    padding: 10px 0 !important;
}

.qr-container {
    margin: 120px 0 10px 20px;
}

.qr-img {
    width: 120px;
    height: 120px;
}

.footer-container {
    margin: 10px;
}

.footer-text {
    font-size: 14px;
    color: var(--black);
    margin-bottom: 5px;
}

.footer-url {
    color: var(--black);
    border-bottom: 1px solid var(--black);
    font-style: italic;
}

.footer-img {
    width: 100%;
}

@media print {
    .vaccine-card-border {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .header-section {
        margin: 2px 30px;
    }

    .vaccine-section {
        margin: 5px 30px;
    }

    .footer-content {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}